/* 手機板型 */
@media(max-width: 767px){
    body{
        header{
            .main{
                flex-direction: column;
                img, .title{
                    max-width: 100%;
                }
            }
            .float{
                position: static;
                max-width: 100%;
            }
        }
        main{
            .services .service{
                flex-direction: column;
                .text-box .text-card{
                    position: static;
                    margin: 0px;
                    max-width: 100%;
                }
            }
            .blogs{
                .box{
                    max-width: 100%;
                }
                .boxRemove{
                    display: none;
                }
            }
            .main-content{
                flex-direction: column; 
                .image-box img{
                    max-width: 100%;
                }
                .text-box{
                    max-width: 100%;
                    margin: 0px;
                    .text-card{
                        margin: 0px;
                    }
                }
                
                
            }
            .podcasts{
                flex-direction: column;
                .podcast{
                    width: 100%;
                }
            }
            
            
        }
        footer{
            .img{
                display: flex;
                flex-direction: column;
                img{
                    max-width: 100%;
                }
            }
            .textbox{
                position: relative;
                top: -200px;
                left: 0%;
                max-width: 100%;
            }
        }
    }
}
