/* 手機板型 */
@media(max-width: 767px){
    body{
        padding-left: 3%;
        padding-right: 3%;
        .top_blog{
            .img {
                width: 100%;
            }
            .content{
                max-width: 100%;
            }
        }
        footer{
            p.email, ul{
                display:none;
            }
        }
    }
}
