/* 手機板型 */
@media(max-width: 767px){
    body{
        header{
            .leftRight{
                flex-direction: column;
                img, .right{
                    max-width: 100%;
                }
            }
            .float{
                position: static;
                width: 85%;
            }
        }
        main{
            .services .service{
                flex-direction: column;
                .text-box{
                    margin: 10%;
                    width: 100%;
                }
            }
            .blogs{
                .box{
                    max-width: 100%;
                }
                .boxRemove{
                    display: none;
                }
            }
            .main-content{
                flex-direction: column;
                .image-box img{
                    width: 100%;
                }
                .text-box .text-card{
                    width: 150%;
                    margin: 0%;
                }
                .text-box .text-card-bottom{
                    width: 150%;
                    margin: 0%;
                }
            }
            .podcasts{
                flex-direction: column;
                .podcast{
                    width: 100%;
                }
            } 
            
        }
        footer{
            .img{
                flex-direction: column;
                flex-wrap: wrap;
                img{
                    width: 100%;
                }
            }
            .textbox{
                position: static;
                width: 100%;
            }
        }
    }
}
