/*先寫PC版型 */
body{
    line-height: 1.8;
    font-family: Tahoma;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $page-background;
    h1{
        font-size: $base-font*3;
        font-weight: bold;
        
    }
    h2{
        font-size: $base-font*2.5;
        font-weight: bold; 
    }
    h3{
        font-size: $base-font*2;
        font-weight: bold; 
    }
    p, date{
        font-size: $base-font;
    }
    .btn_more{
        border: black 2px solid;
        background: white;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 10px;
        a{
            color: black;
            text-decoration: none;
        }
        &:hover{
            background: rgb(128,128,255);
        }
    }
    nav{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    padding: 20px;
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: blue;
                        border-bottom: 3px blue solid;
                        text-decoration: none;
                    }
                }        
            }
        }

    }
    header{
        display: flex;
        flex-wrap: wrap;
        position: relative; // 加上 relative，使 .float 的絕對定位以此為基準
        
        img {
            max-width: 45%;
        }

        .right {
            position: relative;
            width: 50%;
            padding-left: 20px;
            justify-content: center;
            align-content: center;
            color: blue;
            z-index: 1;
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
        }

        
    }
    .top_blog{
        display: flex;
        flex-wrap: wrap;
        .img{
            max-width: 45%;
        }
        .content{
            max-width: 50%;
            padding: 10px;
            .mark .btn_highlight .blog_highlight{
                border-radius: 10px;
                border-color: blue;
                background: blue;
                color: white; 
            }
            
        }
    }

    main{
        .items{
            display: flex;
            align-content: center;
            justify-content: normal;
            flex-wrap: wrap;
            align-items: center;
            .item{
                width: 33%;
            }
        }
        .pages{
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            margin: 0px auto;
            justify-content: center;
            border-radius: 30px;
            background: white;
            button{
                border: none;
                padding: 5px;
                margin: 5px;
                background: white;
                color: black;
                &:hover{
                    text-decoration: underline;
                }
                &:active{
                    color: blue;
                    font-weight: bold;
                }
            }
            .thisPage{
                color: blue;
                font-weight: bold;
            }

        }
    }
    footer{
        margin-top: 5px;
        border-top: 3px black solid;
        p.email{
            font-size: $base-font*1.5;
        }
        ul{
            display: flex;
            float: right;
            top: -40px;
            position: relative;
            li a:hover{
                border: black 1px solid;
            }
        }
        p.copyright{
            font-size: $base-font*0.75;
            text-align: center;

        }
    }

}