@charset "UTF-8";
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 處理圖檔 */
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*先寫PC版型 */
body {
  line-height: 1.8;
  font-family: Tahoma;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(246, 246, 246);
}
body h1 {
  font-size: 48px;
  font-weight: bold;
}
body h2 {
  font-size: 40px;
  font-weight: bold;
}
body h3 {
  font-size: 32px;
  font-weight: bold;
}
body p, body date {
  font-size: 16px;
}
body span {
  color: blue;
}
body .btn_more {
  border: black 2px solid;
  background: white;
  padding: 10px;
  border-radius: 20px;
}
body .btn_more:hover {
  background: rgb(128, 128, 255);
}
body nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav ul li a {
  padding: 20px;
  color: black;
  text-decoration: none;
}
body nav ul li a:hover {
  color: blue;
  border-bottom: 3px blue solid;
  text-decoration: none;
}
body header .leftRight {
  display: flex;
}
body header .leftRight img {
  max-width: 50%;
}
body header .leftRight .right {
  width: 50%;
  padding-left: 20px;
  justify-content: center;
  align-content: center;
  color: blue;
  background-image: url("/img/desktop/index/Hero Section2.png");
}
body header .float {
  position: relative;
  top: -35px;
  left: 45%;
  width: 35%;
  padding: 50px 50px 25px 25px;
  border: black 3px solid;
  background: white;
}
body header .float ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
body header .float ul li a {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
body header .float ul li a:hover {
  border: 1px blue solid;
}
body main .services .service {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
body main .services .service .image-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}
body main .services .service .text-box {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body main .services .service .text-box .text-card {
  width: 60%;
  background-color: white;
  padding: 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  margin: -10%; /* 桌面板改這裡 */
}
body main .services .service .text-box .text-card h3:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: blue;
  display: block;
  position: relative;
  bottom: 20px;
}
body main .services .more {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
body main .services .more button {
  border: 1px solid black;
  background: white;
  border-radius: 50%;
  max-width: 5%;
}
body main .services .more button:hover {
  background: rgb(128, 128, 255);
}
body main .blogs {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
body main .blogs .btn_dir {
  background: rgb(0, 0, 255);
  color: white;
  border-radius: 50%;
  max-width: 8%;
  height: 24px;
}
body main .blogs .btn_dir:hover {
  background: rgb(128, 128, 255);
}
body main .blogs .box {
  padding: 10px;
  max-width: 28%;
}
body main .blogs .box .mark .btn_highlight .blog_highlight {
  border-radius: 10px;
  border-color: blue;
  background: blue;
  color: white;
}
body main .blogs .box img {
  text-align: center;
}
body main .main-content {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
body main .main-content .image-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main-content .text-box {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  width: 45%;
}
body main .main-content .text-box p:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: blue;
  display: block;
  position: relative;
  bottom: 20px;
}
body main .main-content .text-box .text-card {
  background-color: white;
  padding: 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  margin: -10%; /* 桌面板改這裡 */
}
body main .main-content .text-box .text-card-bottom {
  background-color: white;
  padding: 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
body main .main-content .text-box .text-card-bottom .btn_schedule {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background: white;
  color: blue;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}
body main .main-content .text-box .text-card-bottom .btn_schedule:hover {
  background: blue;
  color: white;
}
body main .podcasts {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body main .podcasts .podcast {
  padding: 10px;
  width: 25%;
}
body main .podcasts .podcast ul li:before {
  content: "☑ ";
  background: blue;
  color: white;
}
body footer {
  margin-top: 5px;
  border-top: 3px black solid;
}
body footer .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .img img {
  width: 50%;
}
body footer .textbox {
  position: relative;
  top: -380px;
  left: 55%;
  padding: 5%;
  width: 30%;
  background: white;
}
body footer .textbox input[type=text] {
  width: 70%;
  font-size: 16px;
}
body footer .textbox button {
  border: blue 2px solid;
  background: white;
  color: blue;
  padding: 10px;
  border-radius: 20px;
}
body footer .textbox button:hover {
  background: rgb(128, 128, 255);
}
body footer ul li {
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  height: 50px;
  width: 100%;
}
body footer ul li img {
  height: 30px;
  width: 30px;
}
body footer ul li a {
  font-size: 19.2px;
  margin: 0px auto;
  text-decoration: none;
  color: black;
}
body footer ul li a:hover {
  color: blue;
}
body footer ul li .go {
  position: relative;
  float: right;
}
body footer p.copyright {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

/* 手機板型 */
@media (max-width: 767px) {
  body header .leftRight {
    flex-direction: column;
  }
  body header .leftRight img, body header .leftRight .right {
    max-width: 100%;
  }
  body header .float {
    position: static;
    width: 85%;
  }
  body main .services .service {
    flex-direction: column;
  }
  body main .services .service .text-box {
    margin: 10%;
    width: 100%;
  }
  body main .blogs .box {
    max-width: 100%;
  }
  body main .blogs .boxRemove {
    display: none;
  }
  body main .main-content {
    flex-direction: column;
  }
  body main .main-content .image-box img {
    width: 100%;
  }
  body main .main-content .text-box .text-card {
    width: 150%;
    margin: 0%;
  }
  body main .main-content .text-box .text-card-bottom {
    width: 150%;
    margin: 0%;
  }
  body main .podcasts {
    flex-direction: column;
  }
  body main .podcasts .podcast {
    width: 100%;
  }
  body footer .img {
    flex-direction: column;
    flex-wrap: wrap;
  }
  body footer .img img {
    width: 100%;
  }
  body footer .textbox {
    position: static;
    width: 100%;
  }
}/*# sourceMappingURL=all.css.map */