@charset "UTF-8";
/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 處理圖檔 */
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*先寫PC版型 */
body {
  line-height: 1.5;
  font-family: Noto Sans TC;
  background-color: rgb(246, 246, 246);
}
body header, body main, body footer, body .top_blog {
  padding-left: 5%;
  padding-right: 5%;
}
body h1 {
  font-size: 48px;
  font-weight: bold;
}
body h2 {
  font-size: 40px;
  font-weight: bold;
}
body h3 {
  font-size: 32px;
  font-weight: bold;
}
body .btn_more {
  border: black 2px solid;
  background: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
body .btn_more a {
  color: black;
  text-decoration: none;
}
body .btn_more:hover {
  background: rgb(128, 128, 255);
}
body nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
body nav ul li a {
  padding: 20px;
  color: black;
  text-decoration: none;
}
body nav ul li a:hover {
  color: blue;
  border-bottom: 3px blue solid;
  text-decoration: none;
}
body header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
body header img {
  max-width: 45%;
}
body header .title {
  position: relative;
  width: 50%;
  padding-left: 20px;
  justify-content: center;
  align-content: center;
  color: blue;
  z-index: 1;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
}
body .top_blog {
  display: flex;
  flex-wrap: wrap;
}
body .top_blog .img {
  max-width: 45%;
}
body .top_blog .content {
  max-width: 50%;
  padding: 10px;
}
body .top_blog .content .mark .btn_highlight .blog_highlight {
  border-radius: 10px;
  border-color: blue;
  background: blue;
  color: white;
}
body main .items {
  display: flex;
  align-content: center;
  justify-content: normal;
  flex-wrap: wrap;
  align-items: center;
}
body main .items .item {
  width: 33%;
}
body main .items .item p.mark {
  font-size: 24px;
  color: blue;
}
body main .pages {
  display: flex;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  justify-content: center;
  border-radius: 30px;
  background: white;
}
body main .pages button {
  border: none;
  padding: 5px;
  margin: 5px;
  background: white;
  color: black;
}
body main .pages button:hover {
  cursor: pointer;
}
body main .pages button:active {
  color: blue;
  transform: scale(1.2);
  font-weight: bold;
}
body main .pages .thisPage {
  color: blue;
  font-weight: bold;
}
body footer {
  margin-top: 5px;
  border-top: 3px black solid;
}
body footer .email {
  font-size: 24px;
}
body footer ul {
  display: flex;
  float: right;
  top: -40px;
  position: relative;
}
body footer ul li a:hover {
  border: black 1px solid;
}
body footer p.copyright {
  font-size: 12px;
  text-align: center;
}

/* 手機板型 */
@media (max-width: 767px) {
  body header img {
    max-width: 100%;
  }
  body header .right {
    width: 100%;
  }
  body .top_blog .img {
    max-width: 100%;
  }
  body .top_blog .content {
    max-width: 100%;
  }
  body main .items .item {
    width: 100%;
  }
  body footer p.email, body footer ul {
    display: none;
  }
}/*# sourceMappingURL=blog.css.map */